<h1 mat-dialog-title>Hi {{ data.name }}</h1>
<div mat-dialog-content>
  <div class="example-container">
    <form [formGroup]="editForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender"  placeholder="Gender" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"  placeholder="Email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone"  placeholder="Phone" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Picture</mat-label>
        <input matInput formControlName="picture"  placeholder="Picture" />
      </mat-form-field>
<!-- 
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Input" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field> -->
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial color="primary">
    Ok
  </button>
</div>
